@font-face {
    font-family: "Knockout";
    src: url("typo.woff") format("woff")
}

body{
    font-family: 'Knockout';
    color: white;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    -webkit-user-select: none;    
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
}

h1,h2{
    font-weight: 400;
}

h2{
    margin-top: 50px;
}

#container{
    border: 1px solid white;
    width: 60%;
    padding: 30px 75px;
    margin-bottom: 50px;
}

td{
    vertical-align: unset;
    padding-bottom: 25px;
}

#textfield{
    font-size: 2px;
}


td:first-child{
    font-size: 18px;
}

td:nth-child(2){
    padding-left: 50px;
}

.descriptionCompany {
    direction: rtl;
    unicode-bidi: bidi-override;
}

button{
    border: white 1px solid;
    color: white;
    background: black;
    margin-bottom: 50px;
    height: 50px;
    width: 150px;
    font-size: 20px;
}

.descriptionJob{
    color: transparent;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.h2{
    -webkit-transform:rotate(-180deg);
    -moz-transform:rotate(-180deg);
    -o-transform:rotate(-180deg);
    transform:rotate(-180deg);
    ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

@media screen and (max-width: 600px) {
    td:first-child{
        font-size: 16px;
    }
    td:nth-child(2){
        font-size: 12px;
        padding-left: 10px;
    }
    #container{
        padding: 30px 25px;
        width:70%;
    }
}